<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <style>
        h2 {
            text-align: center;
            padding-top: 20px;
        }

        .container {
            padding-top: 30px;
            text-align: center;
            width: 80%;
            height: 100%;
            display: flex;
            margin: 0 auto;
        }

        .fileslistdiv {
            text-align: left;
            width: 50%;
            float: left;
            overflow: scroll;
        }

        .formdiv {
            clear: right;
            width: 50%;
            height: auto;
        }

    </style>
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script>
        function updateProgressBar() {
            $.getJSON('tiler/progress', function(data){
                $(".progress-bar").attr("aria-valuenow", data["progressValue"]).css("width", data["progressValue"] + "%"); 
                $("#progress-text-small").text(data["progressStatus"]);
            });
        }
        function deleteFile(file_name) {
            $.post('map/delete', {file_name: file_name});
            $("." + file_name.slice(0, -4) + "-list-group-item").remove();
        }
        function checkform() {
            var request = new XMLHttpRequest();
            request.open('GET', 'fileexists', false);  // `false` makes the request synchronous
            request.send(null);

            if (request.status === 200) {
                if (request.responseText === 'True') {
                    alert("A file with the same name already exists!");
                }
                else {
                    $("#upload-progress-bar").css("visibility", "visible");
                    setInterval(updateProgressBar, 500); 
                    return document.frm.submit();
                }
            }
            else {
                alert("Error When uploading. Please try again");
            }
        }
	function getUrlVars() {
         	var vars = {};
	  	var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            		vars[key] = value;
        	});
        	return vars;
        }
	function setCookie(cname, cvalue) {
		document.cookie = cname + "=" + cvalue + ";";
	}
	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
	function renderCDriveContainer() {
    var cdriveUrl = "https://api.dev1.columbustech.io/";
    $(".cdrivediv").prepend("<div class='cdrive-import-container fileslistdiv'></div>");
    $(".cdrive-import-container").append("<h4 style='width:100%;'>Import from CDrive</h4>");
    $(".cdrive-import-container").append("<input type='text' id='cdrive-path'/>");
    var importButton = "<button class='btn btn-primary' style='margin-left:10px;'> Import </button>" ;
    $(importButton).appendTo(".cdrive-import-container").click( function(){
        var path = $("#cdrive-path").val();
        var tokens = path.split("/");
        var fileName = tokens[tokens.length - 1];
        $.ajax({
          url: cdriveUrl + "download/?path=" + path ,
          beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Bearer " + getCookie("tbrowser_token"));
          },
        })
          .done(function ( data ) {
            $.post("import-cdrive-file/", { download_url: data["download_url"], file_name: fileName })
              .done(function ( data ) {
                window.location.href = "map/leaflet?file=" + fileName;
              });
            $("#upload-progress-bar").css("visibility", "visible");
            setInterval(updateProgressBar, 500);
          });
    });
    $(".cdrive-import-container").append("<a href='https://api.dev1.columbustech.io' class='btn btn-secondary' style='margin-left:10px;'>Go to CDrive</a>");
	}
	$(function() { 
    var urlVars = getUrlVars();
    if (getCookie("tbrowser_token") !== "") {
      renderCDriveContainer();
    }
    else if ("code" in urlVars) {
      var code = urlVars["code"];
      var url = window.location.href;
      var redirect_uri = url.substring(0,url.indexOf("?"));
      $.post("access-token/", { code: code, redirect_uri: redirect_uri })
        .done(function( data ) {
          var access_token = data["access_token"];
          setCookie("tbrowser_token", access_token);
          renderCDriveContainer();
        });
    } else {
      $.getJSON("client-id/", function(data) {
        var clientId = data["clientId"];
        var redirect_url = window.location.href;
        var auth_url = "https://authentication.dev1.columbustech.io/o/authorize/?response_type=code&client_id=" 
                  + clientId + "&redirect_uri=" + redirect_url + "&state=1234xyz";
        $(".cdrivediv").append("<div class='cdrive-import-container'></div>");
        $(".cdrive-import-container")
          .append("<h4 style='width:100%;'>Import from CDrive</h4>")
          .append("<a href='" + auth_url + "' style='margin-top:15px;' class='btn btn-primary'>Login to CDrive</a>");
      });
    }
	});
    </script>
</head>
<body>
<!-- List of uploaded documents -->
<h2>Map browser</h2>
<div class="container">
    <div class="fileslistdiv">
        <h4>Uploaded Documents</h4>
        {% if documents %}
        <div class="list-group">
            {% for document in documents %}
            <div class="list-group-item {{ document.file_name|slice:"0:-4" }}-list-group-item">
                <a style="color: black;" href="map/leaflet?file={{ document.file_name }}">{{ document.file_name }}</a>
                <a style="color: red;" href="javascript: deleteFile('{{ document.file_name }}')" >
                    <span style="float: right; padding-top: 5px;" class="oi oi-x"></span>
                </a>
                <a style="color: black;" href="{{ document.docfile.url }}" >
                    <span style="float: right; padding-top: 8px; padding-right: 10px;" class="oi oi-data-transfer-download"></span>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No documents.</p>
        {% endif %}
    </div>
    <div class="formdiv">
        <!-- Upload form. Note enctype attribute! -->
        <form onsubmit="return checkform()" action="{% url 'index' %}" method="post" enctype="multipart/form-data"
              name="frm">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
        <div id="upload-progress-bar" style="padding-top: 10px; padding-left: 20px; visibility: hidden;">
            <div class="progress position-relative">
                <div class="progress-bar bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
                <small id="progress-text-small" class="justify-content-center d-flex position-absolute w-100"></small>
            </div>
        </div>
    </div>
</div>
<div class="container cdrivediv">
	<div class="formdiv">
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
